.AddPost input,
.AddPost textarea,

.AddPost select{
  display: block;
  width: 80%;
  box-sizing: border-box;
  outline: none;
  border: 1px solid black;
  font: inherit;
  margin: auto 
  }
  .AddPost button {
    padding: 10px;
    margin: 5px 0;
    font: inherit;
    border: 1px solid #fa923f;
    background-color: transparent;
    color: #fa923f;
    cursor: pointer
  }
  .AddPost button:hover,
  .AddPost button:active{
    color: white;
    background-color: #fa923f;
  }